	<table width='100%' id='appheader'>
		<tr width='100%' >
			<td colspan='2'>
				<table width='100%'>
					<tr>
						<td width='12%' align='center'></td>
						<td width='76%' align='center' class='apptitle'> Around the World </td>
						<td width='12%' align='center'></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

    <table width='100%' id='appnav'>
      <tr>
        <td align='center'>
          <ul>
			<li><a th:href="@{/}">Home</a></li>
          </ul>
        </td>
      </tr>
    </table>